.heading {
  text-align: center;
  font-size: 2rem;
  margin: 0px 0px 1px 0px;
}
.link {
  text-decoration: none;
}
.adduser-container {
  margin-top: 5%;
  justify-content: center;
  display: flex;
}
.submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.err-msg {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  justify-content: center;
  color: red;
}

.add-user-btn {
  text-decoration: none;
  display: flex;
  margin: 1.5rem;
  justify-content: center;
}
.table-container {
  width: 85%;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .adduser-container {
    margin-left: 20%;
    margin-top: 38%;
    flex-direction: column;
    display: flex;
  }
  .heading {
    text-align: center;
    font-size: 1.6rem;
    /* margin: 46px 0px 37px 0px; */
  }
  .table-container {
    width: 95%;
  }
}
